<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Trello" verbose="1">
    <test name="SmokeTest">
        <classes>
            <class name="LoginTestHW"/>
            <class name="LoginTest"/>
            <class name="BoardCreationTests"/>
        </classes>
    </test>
</suite>